version: "3"

services: 

  mysql:
    image: mysql:5.7
    ports:
      - "3306:3306"
    networks: 
      - shab-app

    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: shab
      MYSQL_PASSWORD: asd@asd@
      MYSQL_DATABASE: esolveeg_shab
    container_name: golang-docker-db
    volumes:   
      - mysql-data:/var/lib/mysql


  client-shab:
    image: client-shab
    build: ./client/
    stdin_open: true
    ports: 
      - "3000:3000"

    networks: 
      - shab-app

    links: 
      - api-shab

    depends_on: 
      - api-shab

  api-shab:
    image: api-shab
    build: ./api/
    ports:
      - "5000:5000"
    networks: 
      - shab-app

    links: 
      - mysql
    depends_on: 
      - mysql



  


networks: 
  shab-app:
    driver: bridge

volumes: 
  mysql-data:
    driver: local