.contact{
    padding:50px 0;
    iframe{
        // height: 100% !important;
    }
    & .wrapper{
        display: grid;
        grid-template-columns: 70% 30%;
        width: 100%;
        gap: 30px;
        @media(max-width: 200px){
            grid-template-columns: 100% 100%;
            
        }
    }
   
    & .info-wrapper{
        display: flex;
        flex-direction: column;
        & iframe{
            flex-grow: 1;
        }
    }
    .app-info{
        background-color: var(--primary);
        padding: 30px;
       & h2{
            font-size: 22px;
            text-align: right !important;
            color: #fff;
            margin-bottom: 20px;
        }
        & .v-icon{
            color: #fff;
            &.phone{
                transform: rotate(270deg);
            }
        }
        
        & p{
            line-height: 1;
        }
        & li{
            margin-bottom: 20px;
            color: #fff;
            font-size: 16px;
            & p:first-child{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}