.event-page{
    .event-wrapper{
        display:grid;
        padding: 50px 0;
        grid-template-columns: 70% 30%;
        gap: 20px;
        & .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            & span{
                font-weight: 400;
            }
            & .price{
                background-color: var(--primary);
                color: #fff;
                padding: 20px 30px;
                border-radius: 5px;
                box-shadow: var(--box-shadow);
            }
        }
        & .left {
            & > div{
                margin-bottom: 20px;
            }
           
            & .img{
        
                & img{
                    width: 100%;
                }
            }
            & .subscribe{
                & .app-btn{
                    width: 100% ;
                }
            }
        }
    }
}