.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: transform .3s ease-in;
    background-color: var(--bg-darker);
    &:hover{
        transform: scale(1.02);
        & .join{
            transform: translate(-50%,-50%) scale(1) !important;
        }
    }

    & .top {
        position: relative;
        margin-bottom: 25px;
        cursor: pointer;
        height: 200px;
        width: 100%;
        & img{
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 200px;
        }
        & .cat{
            position: absolute;
            background-color: var(--primary);
            color: #fff;
            top: 20%;
            border-radius: 5px 0px 0 5px;
            padding: 5px 10px;
            right: 0;
        }

        & .join{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            // transform: ;
            transition: all .3s ease-in;
            & .app-btn{
                max-height: 40px;
                max-width: 100px;
                font-size: 12px;
            }
            
        }
       
        & .date {
            position: absolute;
            bottom: 0;
            right: 20px;
            transform: translateY(26px);
            font-size: 18px;
            background-color: var(--primary);
            border-radius: 5px;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 75px;
            height: 80px;
            text-align: center;
            & p{
                margin: 0;
                line-height: 1.4;
                &:first-child{
                    font-size: 20px;

                }

                &:last-child{
                    width:100%;
                    background-color: #0480CC;
                }
            }
        }
    }
    & h2{
        font-size: 20px;
        margin-top: 10px;
        height: 65px;
        text-align: center;
        overflow: hidden;
        transition: all .3s ease-in;
        &:hover{
            height: auto;
            min-height: 65px;
            overflow: visible;
        }
    }
    & h3{
        color: var(--primary);
        margin-bottom: 20px;
    }
}